.algorithms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .algo {
        max-width: 90vw;
    }
  }